{% load static %}
<section class="{% if show_category_counts %} pt-3 {% else %} py-5 {% endif %}">
    {% if not show_category_counts %}
    <div class="d-flex justify-content-between align-items-center mb-4">

        <h5 class="fw-bold mb-0">Explore by Category</h5>

        <a href="{% url 'business_list' %}" class="view-all-link">
            View All
        </a>

    </div>
    {% endif %}

    <div class="row g-3">

        {% if show_category_counts %}

            <!-- ALL -->

            <div class="col-lg-2 col-md-3 col-4">

                <a
                    href="{% url 'business_list' %}?{% if keyword %}q={{ keyword|urlencode }}&{% endif %}{% if selected_area %}area={{ selected_area.slug }}&{% endif %}{% if selected_offer %}offer={{ selected_offer }}&{% endif %}{% if featured %}featured={{ featured }}&{% endif %}{% if selected_sort %}sort={{ selected_sort }}{% endif %}"
                    class="category-card {% if not selected_category %}active{% endif %}"
                >

                    <img
                        src="{% static 'core/images/menu.png' %}"
                        alt="All"
                        class="category-icon"
                    >

                    <span>
                        All
                    </span>

                    <small class="text-secondary">
                        ({{ all_business_count }})
                    </small>

                </a>

            </div>

        {% endif %}


        {% for category in categories %}

        <div class="col-lg-2 col-md-3 col-4">

            <a
                href="{% url 'business_list' %}?category={{ category.slug }}{% if keyword %}&q={{ keyword|urlencode }}{% endif %}{% if selected_area %}&area={{ selected_area.slug }}{% endif %}{% if selected_offer %}&offer={{ selected_offer }}{% endif %}{% if featured %}&featured={{ featured }}{% endif %}{% if selected_sort %}&sort={{ selected_sort }}{% endif %}"
                class="category-card {% if selected_category == category.slug %}active{% endif %}"
            >

               {% if category.icon %}
                    <img src="{{ category.icon.url }}"
                         alt="{{ category.name }}"
                         class="category-icon">
                {% endif %}

                <span>{{ category.name }}</span>

                {% if show_category_counts %}

                    <small class="text-secondary">
                        ({{ category.business_count }})
                    </small>

                {% endif %}

            </a>

        </div>

        {% endfor %}

    </div>

</section>