{% load static %}
<footer class="footer mt-5">

    <div class="footer-top">

        <div class="container">

            <div class="row text-center">

                <div class="col-lg-3 col-6 feature-item">
                    <img src="{% static 'core/images/search.png' %}">
                    <h6>Search Easily</h6>
                    <p>Find businesses by category or area.</p>
                </div>

                <div class="col-lg-3 col-6 feature-item">
                    <img src="{% static 'core/images/whatsapp.png' %}">
                    <h6>Connect Instantly</h6>
                    <p>Chat directly on WhatsApp.</p>
                </div>

                <div class="col-lg-3 col-6 feature-item">
                    <img src="{% static 'core/images/offer.png' %}">
                    <h6>Best Offers</h6>
                    <p>Discover amazing local deals.</p>
                </div>

                <div class="col-lg-3 col-6 feature-item">
                    <img src="{% static 'core/images/shield.png' %}">
                    <h6>Trusted & Local</h6>
                    <p>Verified local businesses.</p>
                </div>

            </div>

        </div>

    </div>

    <div class="footer-main">

        <div class="container">

            <div class="row">

                <div class="col-lg-5">

                    <div class="footer-brand">

                        logo
                        <!-- <img src="{% static 'core/images/logo.png' %}"> -->

                        <div>

                            <h4>Kuwait Connect</h4>

                            <p>
                                Connect locally.<br>
                                Grow together.
                            </p>

                        </div>

                    </div>

                    <div class="footer-social">

                        <a href="#"><img src="{% static 'core/images/instagram.png' %}"></a>
                        <a href="#"><img src="{% static 'core/images/facebook.png' %}"></a>
                        <a href="#"><img src="{% static 'core/images/tiktok.png' %}"></a>

                    </div>

                </div>

                <div class="col-lg-3">

                    <h5>For Businesses</h5>

                    <ul>

                        <li>Add Your Business</li>
                        <li>Advertising</li>
                        <li>Business Tips</li>

                    </ul>

                </div>

                <div class="col-lg-4">

                    <h5>Contact Us</h5>

                    <ul>

                        <li>+965 1234 5678</li>
                        <li>info@kuwaitconnect.com</li>
                        <li>Kuwait</li>

                    </ul>

                </div>

            </div>

        </div>

    </div>

    <div class="footer-bottom">

        © 2026 Kuwait Connect. All rights reserved.

    </div>

</footer>