<nav class="navbar navbar-expand-lg kc-navbar">
    <div class="container">

        <a class="navbar-brand kc-brand" href="/">
            

            <div class="ms-2">

                <div class="brand-title">
                    Kuwait <span>Connect</span>
                </div>

                <div class="brand-subtitle">
                    Connect locally. Grow together.
                </div>

            </div>
        </a>

        <button class="navbar-toggler"
                data-bs-toggle="collapse"
                data-bs-target="#navbar">

            <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse" id="navbar">

            <ul class="navbar-nav mx-auto">

                <li class="nav-item">
                    <a class="nav-link active" href="/">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Categories</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Offers</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">How it Works</a>
                </li>

            </ul>

            <a
                href="https://wa.me/91987654321"
                class="kc-btn" target="_blank">

                <span>Add Your Business</span>

                <small>Free Listing</small>

            </a>

        </div>

    </div>
</nav>