{% extends "admin/base_site.html" %}

{% block content %}

<form method="GET">

    <label>
        Area
    </label>

    <select name="area">

        <option value="">
            All Areas
        </option>

        {% for area in areas %}

            <option
                value="{{ area.id }}"
                {% if selected_area == area.id|stringformat:"s" %}
                    selected
                {% endif %}
            >
                {{ area.name }}
            </option>

        {% endfor %}

    </select>


    <label>
        Category
    </label>

    <select name="category">

        <option value="">
            All Categories
        </option>

        {% for category in categories %}

            <option
                value="{{ category.id }}"
                {% if selected_category == category.id|stringformat:"s" %}
                    selected
                {% endif %}
            >
                {{ category.name }}
            </option>

        {% endfor %}

    </select>


    <button type="submit" style="border-color: #ddd; padding: 5px 10px; color: #333;">
        Filter
    </button>


    <a href="{% url 'admin:searchlog-analytics' %}">
        Reset
    </a>

</form>


<br>


<table>

    <thead>

        <tr>
            <th>Keyword</th>
            <th>Searches</th>
            <th>Area</th>
            <th>Category</th>
        </tr>

    </thead>


    <tbody>

        {% for search in searches %}

            <tr>

                <td>
                    {{ search.query }}
                </td>

                <td>
                    {{ search.total_searches }}
                </td>

                <td>
                    {{ search.area__name|default:"All Areas" }}
                </td>

                <td>
                    {{ search.category__name|default:"All Categories" }}
                </td>

            </tr>

        {% empty %}

            <tr>

                <td colspan="4">
                    No searches found.
                </td>

            </tr>

        {% endfor %}

    </tbody>

</table>

{% endblock %}