{% extends "core/base.html" %}

{% block title %} {{ page_title }} {% endblock title %}

{% block content %}



    {% include 'includes/category.html' %}
    {% include 'includes/business_list_filter.html' %}

    <div class="business-results-layout">

        <!-- LEFT SIDE -->
        {% include 'includes/business_list_main_left_content.html' %}
        
        <!-- RIGHT SIDE -->
        {% include 'includes/business_list_main_right_content.html' %}
        

    </div>


{% endblock %}











